@import "../../assets/styles/variables";

.search-bar {
  padding: 20px;
  background-color: $primary-color;
  color: #fff;
  display: grid;
  grid-template-columns: min-content min-content min-content min-content min-content min-content min-content min-content;
  gap: 20px 10px;
  justify-content: center;
  margin-bottom: 5px;
  option,
  select {
    padding: 5px 10px;
    border-radius: 5px;
  }
  .btn {
    @include button;
    grid-column: 1/9;
    font-size: $font-l;
    margin: 0 auto;
    font-weight: bold;
  }
}
